<h1>Info</h1>
<ul>
    <li>Sistema operativo: {{os}}</li>
    <li>Versión de Node JS: {{nodeVersion}}</li>
    <li>Memoria total reservada: {{rss}}</li>
    <li>Argumentos de entrada: {{args}}</li>
    <li>Path de ejecución: {{path}}</li>
    <li>Carpeta del proyecto: {{directory}}</li>
    <li>Id del proceso: {{pid}}</li>
    <li>Cantidad de procesadores: {{cpus}}</li>
</ul>